@import "../../App.scss";

.friends {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;

  .container {
    min-width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);

    @include mobile {
      padding: 15px;
    }

    h3 {
      margin: 0;
      margin-bottom: 10px;

      @include mobile {
        font-size: 15px;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      .card {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 5px;
        padding: 5px;

        @include mobile {
          padding: 0;
          font-size: 14px;
        }

        &:hover {
          background-color: rgba(82, 113, 255, 0.1); /* lightblue background */
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .suggestion-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        margin-top: 5px;
        padding: 5px;

        @include mobile {
          padding: 0;
          font-size: 14px;
        }

        &:hover {
          background-color: rgba(82, 113, 255, 0.1); /* lightblue background */
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
        }

        .info {
          display: flex;
          align-items: center;
          column-gap: 10px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        button {
          padding: 5px 8px;
          color: white;
          background-color: #5271ff;
          border: none;
          border-radius: 3px;
          cursor: pointer;

          @include mobile {
            font-size: 12px;
          }

          &:hover {
            background-color: #3b57d6; /* Slightly darker blue on hover */
          }

          &:active {
            background-color: #2c3ea0; /* Even darker blue on click */
          }
        }
      }
    }
  }
}
